main{
    background-image: url("https://c.wallhere.com/photos/59/0b/One_Piece_anime-213529.jpg!d");
    min-height: inherit; 
    max-width: inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 400px) {
    #features {
    padding: 20px;
    width: 111%;
    }
}
