main{
    background-image: url("https://images.creativemarket.com/0.1.0/ps/1555425/910/606/m2/fpnw/wm1/pwfv0t2myasqzlufpqqt97figabcasv8p4rzbsbsu2s6uhmdwljgnxdmeph03dom-.jpg?1471205591&s=4a529fde81055c1395b135ad75fd628e");
    /* Set a specific height */
    min-height: 25%; 
    max-width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 400px) {
    #features {
    padding: 20px;
    width: 111%;
    }
}
