header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image:url("https://c4.wallpaperflare.com/wallpaper/661/830/542/one-piece-brook-one-piece-franky-one-piece-monkey-d-luffy-nami-one-piece-hd-wallpaper-preview.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:auto !important;
    height:100%;
    min-height:100%;
    padding: 1%;
  }
  
  header h1{
    font-size: 200%;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  #logo{
    max-width: 10%;
  }
  
  header ul{
    display: flex;
    gap: 10%;
  }
  
  header ul li{
    list-style-type: none;
  }
  
  header li a{
    text-decoration: none;
    color: white;
    padding: 5%;
    text-shadow: 1px 1px 1px black;
    border-radius: 5%;
    font-weight: bold;
    transition: all .3s ease-in-out;
  }
  
  header li a:hover{
    background: white;
    color: black;
    text-shadow: 1px 1px 1px gray;
  }