#footer{
    display: flex;
    flex-direction:inherit;
    align-items: center;
    justify-content: center;
    background: gray;
}

#icon{
    max-width: 5rem;
    padding: 15px;
}
#linkicon{
    max-width: 5rem;
    padding: 15px;
}
#emailicon{
    max-width: 5rem;
    padding: 15px;
}
